.CommentList {
  margin-top: 20px;
  background-color: var(--inverted-bg-color);
  padding: 20px;
  border-radius: 5px;
}

.comment {
  margin-top: 20px;
  background-color: var(--inverted-primary-color);
  padding: 20px;
  border-radius: 5px;
}