.Sidebar {
    height: calc(100vh - var(--navbar-height));
    width: var(--sidebar-width);
    background: var(--primary-color);
    position: relative;
    transition: width 0.2s ease;
}

.switchers {
    position: absolute;
    bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.collapseBtn {
    position: absolute;
    bottom: 30px;
    right: -32px;
}

.items {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.collapsed {
    width: var(--sidebar-width-collapsed);
}
