.item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 8px;
}

.link {
    opacity: 1;
    transition: opacity 0.3s;
    white-space: nowrap;
    min-width: 70px;
}

.icon {
    fill: var(--inverted-primary-color);
}

.collapsed {
    .link {
        opacity: 0;
        transition: opacity 0.3s;
        width: 0;
        min-width: auto;
    }
}
