.app_brown_theme {
    --bg-color: #6e3c07;
    --inverted-bg-color: #3e0904;
    --primary-color: #fbf7f4;
    --secondary-color: #fbf7f4;
    --inverted-primary-color: #3e0904;
    --inverted-secondary-color: #6e3c07;
    --skeleton-bg-color: #3e0904;

    // code block component
    --code-bg-color: #3e0904;
}
