.app_dark_theme {
    --bg-color: #212529;
    --inverted-bg-color: #f8f9fa;
    --primary-color: #dee2e6;
    --secondary-color: #ffd8a8;
    --inverted-primary-color: #212529;
    --inverted-secondary-color: #212529;
}
