.app.dark {
    --bg-color: #212529;
    --inverted-bg-color: #f8f9fa;
    --primary-color: #ffa94d;
    --secondary-color: #ffd8a8;
    --inverted-primary-color: #adb5bd;
    --inverted-secondary-color: #dee2e6;
}
