.Icon {
    &:has(path) {
        path {
            fill: var(--primary-color);
        }
    }

    &:not(:has(path)) {
        fill: var(--primary-color);
    }
}

.inverted {
    fill: var(--inverted-primary-color);
}
