.ProfilePageHeader {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 20px;

  .editBtn {
    margin-left: auto;
  }

  .btnWrapper {
    display: flex;
    gap: 10px;
  }
}



