.ProfileCard {
    padding: 20px;
    border: 2px solid var(--primary-color);
}

.loading,
.error {
    height: 350px;
}

.inputWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
}

.input {
    width: 100%;
}

.avatarWrapper {
    text-align: center;
}

.editing {
    border-color: var(--secondary-color);
}
