.ProfileCard {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border: 2px solid var(--primary-color);
}

.header {
    display: flex;
    gap: 20px;
}

.data {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: max-content;
}
